@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif !important;
}

body {
  font-family: "Noto Sans", sans-serif !important;
}

.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #4838b0;
}

.css-1qltlow-MuiTabs-indicator {
  background-color: #4838b0;
}

.css-1orzuox-MuiTableCell-root {
  padding: 12px 16px;
}

.MuiAccordionSummary-content.Mui-expanded {
  margin: 0;
}

.edit-btn {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #4838b0 !important;
  padding: 8px 16px;
  background-color: #f7f4ff !important;
}

.disput-btn {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: white !important;
  padding: 8px 12px;
}

.disput-btn {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: white !important;
  padding: 8px 12px;
}

.approve-btn {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: white !important;
  padding: 8px 12px;
}


/* Table */
.css-169941l-MuiTableCell-root {
  padding: 16px;
}

.css-1xoao6p-MuiTableCell-root {
  padding: 16px;
}


@media screen and (max-width: 640px) {
  .css-169941l-MuiTableCell-root {
    padding: 10px 14px;
  }
  .css-1xoao6p-MuiTableCell-root {
    padding: 10px 14px;
  }
}
 